html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
  body {
    /* color: white; */
    /* background: black; */
  }
}

.firstSec {
  display: flex;
  gap: 50px;
}

.pmdLink {
  font-size: 18px;
  color: #fff;
  margin-bottom: -4px;
}

.pmdLink:hover {
  color: #000;
}

.pmdLink2 {
  font-size: 13px;
  color: #757575;
  font-weight: 600;
}

.postMainC {
  background-color: #fbf8f5;
}

.detailsImgC {
  display: flex;
  justify-content: center;
}

.detailsLinkC {
  /* font-size: 50px;
  font-weight: 600;
  
  cursor: pointer;
  color: blue; */
  border: 2px solid red;
  margin-bottom: 100px;;
}
